# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/

# output
/dist
/build
/coverage
/.next/
.out/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
api-schema.d.ts
storybook.log

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
.vercel
